In [1]:
!./start_hadoop_spark.sh

Starting HDFS...

Starting namenodes on [okeanos-master]
Starting datanodes
Starting secondary namenodes [okeanos-master]
Starting YARN...
Starting resourcemanager
Starting nodemanagers
Starting Spark...
starting org.apache.spark.deploy.history.HistoryServer, logging to /home/user/opt/spark/logs/spark-user-org.apache.spark.deploy.history.HistoryServer-1-okeanos-master.out
failed to launch: nice -n 0 /home/user/opt/spark/bin/spark-class org.apache.spark.deploy.history.HistoryServer
full log in /home/user/opt/spark/logs/spark-user-org.apache.spark.deploy.history.HistoryServer-1-okeanos-master.out
HDFS, YARN, and Spark started successfully.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Project').getOrCreate()
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/19 11:40:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/12/19 11:40:34 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

## Ζητούμενο 2

In [ ]:
from pyspark.sql.functions import col, to_date

columns_to_select = ["Date Rptd", "DATE OCC", "Vict Age","LAT","LON"]

# Read the CSV file into a DataFrame
df1 = spark.read.csv('hdfs://okeanos-master:54310/user/project/Crime_Data_from_2010_to_2019.csv', header=True, inferSchema=True).select(columns_to_select)

df1 = df1.withColumn("Date Rptd", to_date(col("Date Rptd"), 'MM/dd/yyyy hh:mm:ss a'))
df1 = df1.withColumn("DATE OCC", to_date(col("DATE OCC"), 'MM/dd/yyyy hh:mm:ss a'))

# Read the CSV file into a DataFrame
df2 = spark.read.csv('hdfs://okeanos-master:54310/user/project/Crime_Data_from_2020_to_Present.csv', header=True, inferSchema=True).select(columns_to_select)

df2 = df2.withColumn("Date Rptd", to_date(col("Date Rptd"), 'MM/dd/yyyy hh:mm:ss a'))
df2 = df2.withColumn("DATE OCC", to_date(col("DATE OCC"), 'MM/dd/yyyy hh:mm:ss a'))

df = df1.union(df2)

df.show()

In [9]:
df.printSchema()

print("Number of rows in the DataFrame:")
df.count()

root
 |-- Date Rptd: date (nullable = true)
 |-- DATE OCC: date (nullable = true)
 |-- Vict Age: integer (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)

Number of rows in the DataFrame:

2988445

In [5]:
df.show()

+----------+----------+--------+-------+---------+
| Date Rptd|  DATE OCC|Vict Age|    LAT|      LON|
+----------+----------+--------+-------+---------+
|2010-02-20|2010-02-20|      48|33.9825|-118.2695|
|2010-09-13|2010-09-12|       0|33.9599|-118.3962|
|2010-08-09|2010-08-09|       0|34.0224|-118.2524|
|2010-01-05|2010-01-05|      47|34.1016|-118.3295|
|2010-01-03|2010-01-02|      47|34.0387|-118.2488|
|2010-01-05|2010-01-04|      23| 34.048|-118.2577|
|2010-01-08|2010-01-07|      46|34.0389|-118.2643|
|2010-01-09|2010-01-08|      51|34.0435|-118.2427|
|2010-01-09|2010-01-09|      30| 34.045| -118.264|
|2010-01-09|2010-01-06|      55|34.0538|-118.2488|
|2010-01-14|2010-01-14|      38| 34.064|-118.2375|
|2010-01-15|2010-01-14|      40| 34.035|-118.2386|
|2010-01-15|2010-01-15|      24|34.0409|-118.2609|
|2010-01-16|2010-01-15|      29|34.0502| -118.254|
|2010-01-16|2010-01-15|      47|34.0515|-118.2424|
|2010-01-17|2010-01-16|      41|34.0389| -118.255|
|2010-01-23|2010-01-23|      11|34.0401|-118.2668|
|2010-01-23|2010-01-23|      50|34.0428|-118.2461|
|2010-01-23|2010-01-23|      18|34.0545|-118.2499|
|2010-01-26|2010-01-26|      37|34.0563|-118.2374|
+----------+----------+--------+-------+---------+
only showing top 20 rows

## Ζητούμενο 3

In [16]:
from pyspark.sql.functions import year, month

date_rptd = df.select('Date Rptd')
date_rptd = date_rptd.withColumn("Year", year("Date Rptd")).withColumn("Month", month("Date Rptd")).drop("Date Rptd")
date_rptd.show()

+----+-----+
|Year|Month|
+----+-----+
|2010|    2|
|2010|    9|
|2010|    8|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
|2010|    1|
+----+-----+
only showing top 20 rows