In [1]:
!./start_hadoop_spark.sh

Starting HDFS...

Starting namenodes on [okeanos-master]
Starting datanodes
Starting secondary namenodes [okeanos-master]
Starting YARN...
Starting resourcemanager
Starting nodemanagers
Starting Spark...
starting org.apache.spark.deploy.history.HistoryServer, logging to /home/user/opt/spark/logs/spark-user-org.apache.spark.deploy.history.HistoryServer-1-okeanos-master.out

In [5]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName('Project') \
        .config("spark.master", "yarn") \
        .config("spark.executor.instances", "4") \
        .config("spark.executor.cores", "1") \
        .config("spark.executor.memory", "1g") \
        .getOrCreate()
spark

23/12/23 19:20:45 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

## Ζητούμενο 2

In [6]:
from pyspark.sql.functions import col, to_date, to_timestamp

# columns_to_select = ["Date Rptd", "DATE OCC", "Vict Age","LAT","LON"]

# Read the CSV file into a DataFrame
df1 = spark.read.csv('hdfs://okeanos-master:54310/user/project/Crime_Data_from_2010_to_2019.csv', header=True, inferSchema=True)

df1 = df1.withColumn("Date Rptd", to_date(col("Date Rptd"), 'MM/dd/yyyy hh:mm:ss a'))
df1 = df1.withColumn("DATE OCC", to_date(col("DATE OCC"), 'MM/dd/yyyy hh:mm:ss a'))

# Read the CSV file into a DataFrame
df2 = spark.read.csv('hdfs://okeanos-master:54310/user/project/Crime_Data_from_2020_to_Present.csv', header=True, inferSchema=True)

df2 = df2.withColumn("Date Rptd", to_date(col("Date Rptd"), 'MM/dd/yyyy hh:mm:ss a'))
df2 = df2.withColumn("DATE OCC", to_date(col("DATE OCC"), 'MM/dd/yyyy hh:mm:ss a'))

df = df1.union(df2)

df.show()

+---------+----------+----------+--------+-----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
|    DR_NO| Date Rptd|  DATE OCC|TIME OCC|AREA |AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|       Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|         Weapon Desc|Status| Status Desc|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|            LOCATION|        Cross Street|    LAT|      LON|
+---------+----------+----------+--------+-----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
|  1307355|2010-02-20|2010-02-20|    1350|   13|   Newton|       1385|       2|   900|VIOLATION OF COUR...|0913 1814 2000|      48|       M|           H|      501|SINGLE FAMILY DWE...|          NULL|                NULL|    AA|Adult Arrest|     900|    NULL|    NULL|    NULL|300 E  GAGE      ...|                NULL|33.9825|-118.2695|
| 11401303|2010-09-13|2010-09-12|      45|   14|  Pacific|       1485|       2|   740|VANDALISM - FELON...|          0329|       0|       M|           W|      101|              STREET|          NULL|                NULL|    IC| Invest Cont|     740|    NULL|    NULL|    NULL|SEPULVEDA        ...|MANCHESTER       ...|33.9599|-118.3962|
| 70309629|2010-08-09|2010-08-09|    1515|   13|   Newton|       1324|       2|   946|OTHER MISCELLANEO...|          0344|       0|       M|           H|      103|               ALLEY|          NULL|                NULL|    IC| Invest Cont|     946|    NULL|    NULL|    NULL|1300 E  21ST     ...|                NULL|34.0224|-118.2524|
| 90631215|2010-01-05|2010-01-05|     150|    6|Hollywood|        646|       2|   900|VIOLATION OF COUR...|1100 0400 1402|      47|       F|           W|      101|              STREET|           102|            HAND GUN|    IC| Invest Cont|     900|     998|    NULL|    NULL|CAHUENGA         ...|HOLLYWOOD        ...|34.1016|-118.3295|
|100100501|2010-01-03|2010-01-02|    2100|    1|  Central|        176|       1|   122|     RAPE, ATTEMPTED|          0400|      47|       F|           H|      103|               ALLEY|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     122|    NULL|    NULL|    NULL|8TH              ...|SAN PEDRO        ...|34.0387|-118.2488|
|100100506|2010-01-05|2010-01-04|    1650|    1|  Central|        162|       1|   442|SHOPLIFTING - PET...|     0344 1402|      23|       M|           B|      404|    DEPARTMENT STORE|          NULL|                NULL|    AA|Adult Arrest|     442|    NULL|    NULL|    NULL|700 W  7TH       ...|                NULL| 34.048|-118.2577|
|100100508|2010-01-08|2010-01-07|    2005|    1|  Central|        182|       1|   330|BURGLARY FROM VEH...|          0344|      46|       M|           H|      101|              STREET|          NULL|                NULL|    IC| Invest Cont|     330|    NULL|    NULL|    NULL|PICO             ...|GRAND            ...|34.0389|-118.2643|
|100100509|2010-01-09|2010-01-08|    2100|    1|  Central|        157|       1|   230|ASSAULT WITH DEAD...|          0416|      51|       M|           B|      710|       OTHER PREMISE|           500|UNKNOWN WEAPON/OT...|    AA|Adult Arrest|     230|    NULL|    NULL|    NULL|500    CROCKER   ...|                NULL|34.0435|-118.2427|
|100100510|2010-01-09|2010-01-09|     230|    1|  Central|        171|       1|   230|ASSAULT WITH DEAD...|     0400 0416|      30|       M|           H|      108|         PARKING LOT|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     230|    NULL|    NULL|    NULL|800 W  OLYMPIC   ...|                NULL| 34.045| -118.264|
|100100511|2010-01-09|2010-01-06|    2100|    1|  Central|        132|       1|   341|THEFT-GRAND ($950...|     0344 1402|      55|       M|           W|      710|       OTHER PREMISE|          NULL|                NULL|    IC| Invest Cont|     341|     998|    NULL|    NULL|200 S  OLIVE     ...|                NULL|34.0538|-118.2488|
|100100521|2010-01-14|2010-01-14|    1445|    1|  Central|        118|       2|   624|BATTERY - SIMPLE ...|0400 0429 2000|      38|       F|           B|      101|              STREET|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     624|    NULL|    NULL|    NULL|     900 N  BROADWAY|                NULL| 34.064|-118.2375|
|100100522|2010-01-15|2010-01-14|    2000|    1|  Central|        158|       1|   210|             ROBBERY|          0344|      40|       M|           H|      101|              STREET|           400|STRONG-ARM (HANDS...|    AO| Adult Other|     210|    NULL|    NULL|    NULL|ALAMEDA          ...|7TH              ...| 34.035|-118.2386|
|100100523|2010-01-15|2010-01-15|     245|    1|  Central|        182|       2|   740|VANDALISM - FELON...|          0329|      24|       F|           W|      102|            SIDEWALK|          NULL|                NULL|    AA|Adult Arrest|     740|    NULL|    NULL|    NULL|1100 S  OLIVE    ...|                NULL|34.0409|-118.2609|
|100100529|2010-01-16|2010-01-15|    1745|    1|  Central|        152|       2|   755|          BOMB SCARE|          0404|      29|       F|           B|      738|             LIBRARY|           500|UNKNOWN WEAPON/OT...|    IC| Invest Cont|     755|    NULL|    NULL|    NULL|600 W  5TH       ...|                NULL|34.0502| -118.254|
|100100531|2010-01-16|2010-01-15|    2030|    1|  Central|        127|       1|   210|             ROBBERY|0344 0416 1218|      47|       M|           A|      102|            SIDEWALK|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     210|    NULL|    NULL|    NULL|                 1ST|         LOS ANGELES|34.0515|-118.2424|
|100100535|2010-01-17|2010-01-16|    1735|    1|  Central|        185|       2|   946|OTHER MISCELLANEO...|          NULL|      41|       M|           W|      103|               ALLEY|          NULL|                NULL|    IC| Invest Cont|     946|     999|    NULL|    NULL|300 E  OLYMPIC   ...|                NULL|34.0389| -118.255|
|100100552|2010-01-23|2010-01-23|    1225|    1|  Central|        192|       2|   237|CHILD NEGLECT (SE...|          1251|      11|       M|           H|      502|MULTI-UNIT DWELLI...|          NULL|                NULL|    IC| Invest Cont|     237|    NULL|    NULL|    NULL|1300 S  FLOWER   ...|                NULL|34.0401|-118.2668|
|100100553|2010-01-23|2010-01-23|    1100|    1|  Central|        166|       1|   210|             ROBBERY|     0344 0416|      50|       M|           W|      101|              STREET|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     210|    NULL|    NULL|    NULL|600    SAN JULIAN...|                NULL|34.0428|-118.2461|
|100100555|2010-01-23|2010-01-23|    2000|    1|  Central|        132|       1|   236|INTIMATE PARTNER ...|          2000|      18|       F|           W|      502|MULTI-UNIT DWELLI...|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     236|    NULL|    NULL|    NULL|200 S  GRAND     ...|                NULL|34.0545|-118.2499|
|100100561|2010-01-26|2010-01-26|    1820|    1|  Central|        119|       1|   210|             ROBBERY|     0346 0400|      37|       M|           H|      102|            SIDEWALK|           400|STRONG-ARM (HANDS...|    AA|Adult Arrest|     210|    NULL|    NULL|    NULL|800 N  ALAMEDA   ...|                NULL|34.0563|-118.2374|
+---------+----------+----------+--------+-----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
only showing top 20 rows

In [7]:
df.printSchema()

print("Number of rows in the DataFrame:")
df.count()

root
 |-- DR_NO: integer (nullable = true)
 |-- Date Rptd: date (nullable = true)
 |-- DATE OCC: date (nullable = true)
 |-- TIME OCC: integer (nullable = true)
 |-- AREA : integer (nullable = true)
 |-- AREA NAME: string (nullable = true)
 |-- Rpt Dist No: integer (nullable = true)
 |-- Part 1-2: integer (nullable = true)
 |-- Crm Cd: integer (nullable = true)
 |-- Crm Cd Desc: string (nullable = true)
 |-- Mocodes: string (nullable = true)
 |-- Vict Age: integer (nullable = true)
 |-- Vict Sex: string (nullable = true)
 |-- Vict Descent: string (nullable = true)
 |-- Premis Cd: integer (nullable = true)
 |-- Premis Desc: string (nullable = true)
 |-- Weapon Used Cd: integer (nullable = true)
 |-- Weapon Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Status Desc: string (nullable = true)
 |-- Crm Cd 1: integer (nullable = true)
 |-- Crm Cd 2: integer (nullable = true)
 |-- Crm Cd 3: integer (nullable = true)
 |-- Crm Cd 4: integer (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- Cross Street: string (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)

Number of rows in the DataFrame:

2988445

In [8]:
df.show()

+---------+----------+----------+--------+-----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
|    DR_NO| Date Rptd|  DATE OCC|TIME OCC|AREA |AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|       Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|         Weapon Desc|Status| Status Desc|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|            LOCATION|        Cross Street|    LAT|      LON|
+---------+----------+----------+--------+-----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
|  1307355|2010-02-20|2010-02-20|    1350|   13|   Newton|       1385|       2|   900|VIOLATION OF COUR...|0913 1814 2000|      48|       M|           H|      501|SINGLE FAMILY DWE...|          NULL|                NULL|    AA|Adult Arrest|     900|    NULL|    NULL|    NULL|300 E  GAGE      ...|                NULL|33.9825|-118.2695|
| 11401303|2010-09-13|2010-09-12|      45|   14|  Pacific|       1485|       2|   740|VANDALISM - FELON...|          0329|       0|       M|           W|      101|              STREET|          NULL|                NULL|    IC| Invest Cont|     740|    NULL|    NULL|    NULL|SEPULVEDA        ...|MANCHESTER       ...|33.9599|-118.3962|
| 70309629|2010-08-09|2010-08-09|    1515|   13|   Newton|       1324|       2|   946|OTHER MISCELLANEO...|          0344|       0|       M|           H|      103|               ALLEY|          NULL|                NULL|    IC| Invest Cont|     946|    NULL|    NULL|    NULL|1300 E  21ST     ...|                NULL|34.0224|-118.2524|
| 90631215|2010-01-05|2010-01-05|     150|    6|Hollywood|        646|       2|   900|VIOLATION OF COUR...|1100 0400 1402|      47|       F|           W|      101|              STREET|           102|            HAND GUN|    IC| Invest Cont|     900|     998|    NULL|    NULL|CAHUENGA         ...|HOLLYWOOD        ...|34.1016|-118.3295|
|100100501|2010-01-03|2010-01-02|    2100|    1|  Central|        176|       1|   122|     RAPE, ATTEMPTED|          0400|      47|       F|           H|      103|               ALLEY|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     122|    NULL|    NULL|    NULL|8TH              ...|SAN PEDRO        ...|34.0387|-118.2488|
|100100506|2010-01-05|2010-01-04|    1650|    1|  Central|        162|       1|   442|SHOPLIFTING - PET...|     0344 1402|      23|       M|           B|      404|    DEPARTMENT STORE|          NULL|                NULL|    AA|Adult Arrest|     442|    NULL|    NULL|    NULL|700 W  7TH       ...|                NULL| 34.048|-118.2577|
|100100508|2010-01-08|2010-01-07|    2005|    1|  Central|        182|       1|   330|BURGLARY FROM VEH...|          0344|      46|       M|           H|      101|              STREET|          NULL|                NULL|    IC| Invest Cont|     330|    NULL|    NULL|    NULL|PICO             ...|GRAND            ...|34.0389|-118.2643|
|100100509|2010-01-09|2010-01-08|    2100|    1|  Central|        157|       1|   230|ASSAULT WITH DEAD...|          0416|      51|       M|           B|      710|       OTHER PREMISE|           500|UNKNOWN WEAPON/OT...|    AA|Adult Arrest|     230|    NULL|    NULL|    NULL|500    CROCKER   ...|                NULL|34.0435|-118.2427|
|100100510|2010-01-09|2010-01-09|     230|    1|  Central|        171|       1|   230|ASSAULT WITH DEAD...|     0400 0416|      30|       M|           H|      108|         PARKING LOT|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     230|    NULL|    NULL|    NULL|800 W  OLYMPIC   ...|                NULL| 34.045| -118.264|
|100100511|2010-01-09|2010-01-06|    2100|    1|  Central|        132|       1|   341|THEFT-GRAND ($950...|     0344 1402|      55|       M|           W|      710|       OTHER PREMISE|          NULL|                NULL|    IC| Invest Cont|     341|     998|    NULL|    NULL|200 S  OLIVE     ...|                NULL|34.0538|-118.2488|
|100100521|2010-01-14|2010-01-14|    1445|    1|  Central|        118|       2|   624|BATTERY - SIMPLE ...|0400 0429 2000|      38|       F|           B|      101|              STREET|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     624|    NULL|    NULL|    NULL|     900 N  BROADWAY|                NULL| 34.064|-118.2375|
|100100522|2010-01-15|2010-01-14|    2000|    1|  Central|        158|       1|   210|             ROBBERY|          0344|      40|       M|           H|      101|              STREET|           400|STRONG-ARM (HANDS...|    AO| Adult Other|     210|    NULL|    NULL|    NULL|ALAMEDA          ...|7TH              ...| 34.035|-118.2386|
|100100523|2010-01-15|2010-01-15|     245|    1|  Central|        182|       2|   740|VANDALISM - FELON...|          0329|      24|       F|           W|      102|            SIDEWALK|          NULL|                NULL|    AA|Adult Arrest|     740|    NULL|    NULL|    NULL|1100 S  OLIVE    ...|                NULL|34.0409|-118.2609|
|100100529|2010-01-16|2010-01-15|    1745|    1|  Central|        152|       2|   755|          BOMB SCARE|          0404|      29|       F|           B|      738|             LIBRARY|           500|UNKNOWN WEAPON/OT...|    IC| Invest Cont|     755|    NULL|    NULL|    NULL|600 W  5TH       ...|                NULL|34.0502| -118.254|
|100100531|2010-01-16|2010-01-15|    2030|    1|  Central|        127|       1|   210|             ROBBERY|0344 0416 1218|      47|       M|           A|      102|            SIDEWALK|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     210|    NULL|    NULL|    NULL|                 1ST|         LOS ANGELES|34.0515|-118.2424|
|100100535|2010-01-17|2010-01-16|    1735|    1|  Central|        185|       2|   946|OTHER MISCELLANEO...|          NULL|      41|       M|           W|      103|               ALLEY|          NULL|                NULL|    IC| Invest Cont|     946|     999|    NULL|    NULL|300 E  OLYMPIC   ...|                NULL|34.0389| -118.255|
|100100552|2010-01-23|2010-01-23|    1225|    1|  Central|        192|       2|   237|CHILD NEGLECT (SE...|          1251|      11|       M|           H|      502|MULTI-UNIT DWELLI...|          NULL|                NULL|    IC| Invest Cont|     237|    NULL|    NULL|    NULL|1300 S  FLOWER   ...|                NULL|34.0401|-118.2668|
|100100553|2010-01-23|2010-01-23|    1100|    1|  Central|        166|       1|   210|             ROBBERY|     0344 0416|      50|       M|           W|      101|              STREET|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     210|    NULL|    NULL|    NULL|600    SAN JULIAN...|                NULL|34.0428|-118.2461|
|100100555|2010-01-23|2010-01-23|    2000|    1|  Central|        132|       1|   236|INTIMATE PARTNER ...|          2000|      18|       F|           W|      502|MULTI-UNIT DWELLI...|           400|STRONG-ARM (HANDS...|    IC| Invest Cont|     236|    NULL|    NULL|    NULL|200 S  GRAND     ...|                NULL|34.0545|-118.2499|
|100100561|2010-01-26|2010-01-26|    1820|    1|  Central|        119|       1|   210|             ROBBERY|     0346 0400|      37|       M|           H|      102|            SIDEWALK|           400|STRONG-ARM (HANDS...|    AA|Adult Arrest|     210|    NULL|    NULL|    NULL|800 N  ALAMEDA   ...|                NULL|34.0563|-118.2374|
+---------+----------+----------+--------+-----+---------+-----------+--------+------+--------------------+--------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+------------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+
only showing top 20 rows

## Ζητούμενο 3

In [27]:
from pyspark.sql.functions import year, month, count, row_number
from pyspark.sql import Window

date_rptd = df.select('Date Rptd')
date_rptd = date_rptd.withColumn("Year", year("Date Rptd")).withColumn("Month", month("Date Rptd")).drop("Date Rptd")


crime_total = date_rptd.groupBy("Year", "Month").agg(count("*").alias("crime_total"))

# Define a window specification to partition by the "Year" column and order by the "crime_total" column
window_spec = Window().partitionBy("Year").orderBy(col("crime_total").desc())

# Use the row_number function to assign row numbers within each group
df_sorted = crime_total.withColumn("row_number", row_number().over(window_spec))

# Filter to keep only the top three within each group
df_top_three = df_sorted.filter(col("row_number") <= 3)

df_top_three.show(truncate=False)

# Save the DataFrame to a CSV file
df_top_three.write.csv("results/q1Dt.csv", header=True,  mode="overwrite")

import subprocess

hdfs_path = "hdfs://okeanos-master:54310/user/user/results/q1Dt.csv"
local_path = "/home/user/Project/results/"

subprocess.run(["hadoop", "fs", "-copyToLocal", hdfs_path, local_path])

+----+-----+-----------+----------+
|Year|Month|crime_total|row_number|
+----+-----+-----------+----------+
|2010|3    |17595      |1         |
|2010|7    |17520      |2         |
|2010|5    |17338      |3         |
|2011|8    |17139      |1         |
|2011|5    |17050      |2         |
|2011|3    |16951      |3         |
|2012|8    |17696      |1         |
|2012|10   |17477      |2         |
|2012|5    |17391      |3         |
|2013|8    |17329      |1         |
|2013|7    |16714      |2         |
|2013|5    |16671      |3         |
|2014|10   |12789      |1         |
|2014|7    |12696      |2         |
|2014|9    |12498      |3         |
|2015|8    |18951      |1         |
|2015|10   |18916      |2         |
|2015|7    |18528      |3         |
|2016|8    |19779      |1         |
|2016|10   |19615      |2         |
+----+-----+-----------+----------+
only showing top 20 rows

In [30]:
spark.stop()