In [30]:
spark.stop()

In [33]:

import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('test').getOrCreate()
spark

In [54]:
from pyspark.sql.types import StructType, StructField, StringType, DateType, IntegerType, DoubleType
from pyspark.sql.functions import col, to_date

columns_to_select = ["Date Rptd", "DATE OCC", "Vict Age","LAT","LON"]

# Read the CSV file into a DataFrame
df1 = spark.read.csv('hdfs://okeanos-master:54310/user/project/Crime_Data_from_2010_to_2019.csv', header=True, inferSchema=True).select(columns_to_select)

df1 = df1.withColumn("Date Rptd", to_date(col("Date Rptd"), 'MM/dd/yyyy hh:mm:ss a'))
df1 = df1.withColumn("DATE OCC", to_date(col("DATE OCC"), 'MM/dd/yyyy hh:mm:ss a'))

# Read the CSV file into a DataFrame
df2 = spark.read.csv('hdfs://okeanos-master:54310/user/project/Crime_Data_from_2020_to_Present.csv', header=True, inferSchema=True).select(columns_to_select)

df2 = df2.withColumn("Date Rptd", to_date(col("Date Rptd"), 'MM/dd/yyyy hh:mm:ss a'))
df2 = df2.withColumn("DATE OCC", to_date(col("DATE OCC"), 'MM/dd/yyyy hh:mm:ss a'))

df = df1.union(df2)

df.show()

+----------+----------+--------+-------+---------+
| Date Rptd|  DATE OCC|Vict Age|    LAT|      LON|
+----------+----------+--------+-------+---------+
|2010-02-20|2010-02-20|      48|33.9825|-118.2695|
|2010-09-13|2010-09-12|       0|33.9599|-118.3962|
|2010-08-09|2010-08-09|       0|34.0224|-118.2524|
|2010-01-05|2010-01-05|      47|34.1016|-118.3295|
|2010-01-03|2010-01-02|      47|34.0387|-118.2488|
|2010-01-05|2010-01-04|      23| 34.048|-118.2577|
|2010-01-08|2010-01-07|      46|34.0389|-118.2643|
|2010-01-09|2010-01-08|      51|34.0435|-118.2427|
|2010-01-09|2010-01-09|      30| 34.045| -118.264|
|2010-01-09|2010-01-06|      55|34.0538|-118.2488|
|2010-01-14|2010-01-14|      38| 34.064|-118.2375|
|2010-01-15|2010-01-14|      40| 34.035|-118.2386|
|2010-01-15|2010-01-15|      24|34.0409|-118.2609|
|2010-01-16|2010-01-15|      29|34.0502| -118.254|
|2010-01-16|2010-01-15|      47|34.0515|-118.2424|
|2010-01-17|2010-01-16|      41|34.0389| -118.255|
|2010-01-23|2010-01-23|      11|34.0401|-118.2668|
|2010-01-23|2010-01-23|      50|34.0428|-118.2461|
|2010-01-23|2010-01-23|      18|34.0545|-118.2499|
|2010-01-26|2010-01-26|      37|34.0563|-118.2374|
+----------+----------+--------+-------+---------+
only showing top 20 rows

+----------+----------+--------+-------+---------+
| Date Rptd|  DATE OCC|Vict Age|    LAT|      LON|
+----------+----------+--------+-------+---------+
|2020-01-08|2020-01-08|      36|34.0141|-118.2978|
|2020-01-02|2020-01-01|      25|34.0459|-118.2545|
|2020-04-14|2020-02-13|       0|34.0448|-118.2474|
|2020-01-01|2020-01-01|      76|34.1685|-118.4019|
|2020-01-01|2020-01-01|      31|34.2198|-118.4468|
|2020-01-02|2020-01-01|      25|34.0452|-118.2534|
|2020-01-02|2020-01-02|      23|34.0483|-118.2631|
|2020-01-04|2020-01-04|       0|34.0448|-118.2474|
|2020-01-04|2020-01-04|      23|34.0677|-118.2398|
|2020-06-19|2020-05-26|       0|34.2864|-118.5021|
|2020-01-04|2020-01-04|      29|34.0359|-118.2648|
|2020-01-05|2020-01-05|      35|34.0615|-118.2412|
|2020-01-05|2020-01-05|      41|34.0452|-118.2569|
|2020-01-07|2020-01-07|       0| 34.048|-118.2577|
|2020-01-08|2020-01-08|      24|34.0515|-118.2424|
|2021-11-26|2020-11-30|      24|34.3055|-118.4439|
|2020-11-29|2020-11-28|      34|34.1186| -118.245|
|2020-02-22|2020-02-22|      29|33.7926|-118.3043|
|2021-11-22|2020-11-19|      46|34.1857|-118.4574|
|2020-01-14|2020-01-14|      66|34.0463| -118.255|
+----------+----------+--------+-------+---------+
only showing top 20 rows